<footer class='p-4'>
  <p class="text-center m-0">
    &copy; All rights reserved 2021. Designed and Developed by
    <a href="https://resilient.tech/">Resilient Tech - Pruthvi Patel</a>
  </p>
</footer>
