{% extends "base.jinja" %}{% set active_page = "index" %} {% block content %}
<div class="container my-4">
    <div class="row">
    <h2 class="text-center text-decoration-underline">Report - Product Location Balance</h2>
      <div class="col-md-12 mx-auto mt-4">
        {% if report|length > 0 %}
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product</th>
              <th scope="col">Location</th>
              <th scope="col">Qty</th>
            </tr>
          </thead>
          <tbody>
            {% for row in report %}
            <tr>
              <th scope="row">{{ row.id }}</th>
              <td>{{ row.product.name }}</td>
              <td>{{ row.location.name }}</td>
              <td>{{ row.qty }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h5 class="text-info text-center">Not enough transactions. Please make some <a href="/product_movement">transactions</a> --></h5>
        {% endif %}
      </div>
      
  </div>
</div>
{% endblock %}
